<div class="container">
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="card">
                <div class="card-header">New package</div>
                <div class="card-body">
                    <form id="newPostForm" novalidate>
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">Contact</div>
                                    <div class="card-body">
                                        <div>
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <label for="firstname">First name:</label>
                                                    <input type="text" class="form-control" id="firstname" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <label for="lastname">Last name:</label>
                                                    <input type="text" class="form-control" id="lastname" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <label for="telNo">Email</label>
                                                    <input type="text" class="form-control" id="email" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <label for="telNo">Tel.no:</label>
                                                    <input type="text" class="form-control" id="telNo" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">Address</div>
                                    <div class="card-body">
                                        <div formGroupName="address">
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <label for="street">Street:</label>
                                                    <input type="text" class="form-control" id="street" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <label for="city">Post code:</label>
                                                    <input type="text" class="form-control" id="postCode" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <label for="city">City:</label>
                                                    <input type="text" class="form-control" id="city" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <label for="city">Country:</label>
                                                    <input type="text" class="form-control" id="country" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <div class="form-check" name="services" *ngFor="let service of availableServices; let i = index;">
                                <input type="checkbox" class="form-check-input" id="services-{{ i }}" name="services"
                                    [value]="service.name" />
                                <label class="form-check-label" for="services-{{ i }}">
                                    {{ service.name }} {{ service.price }} PLN
                                </label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-footer bg-transparent text-end mt-4">
                    <button type="submit" form="newPostForm" class="btn btn-primary me-1">Submit</button>
                    <button type="reset" form="newPostForm" class="btn btn-secondary">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
