<div class="btn-group my-3" role="group">
  <div
    #item
    class="btn btn-secondary m-1"
    *ngFor="let service of availableServices"
    (click)="selectService(service)"
    (focus)="onFocus($event)"
    (blur)="onBlur()"
    [ngClass]="{
      selected: isSelected(service),
      focused: focusedElement === item,
      disabled: disabled
    }
    "
    [attr.tabindex]="tabindex"
  >
    <ng-container *ngIf="!itemTemplate">
      {{ service.name }} {{ service.price }} PLN
    </ng-container>

    <ng-container *ngIf="itemTemplate">
      <ng-container
        *ngTemplateOutlet="itemTemplate; context: { option: service }"
      >
      </ng-container>
    </ng-container>

  </div>
</div>
